<footer>
  <div class="container">
    <div class="row justify-content-start">
      <ul class="col-12 col-md-3 col-lg-4">
        <li class="col-lg-12">
          <a href="/home" data-toggle="modal" data-target="#whoAmI">Quem Somos</a>
        </li>
        <li class="col-lg-12">
          <a href="/home">Como Funciona</a>
        </li>
        <li class="col-lg-12">
          <a href="/home">FAQ's</a>
        </li>
        <li class="col-lg-12">
          <a href="/home" data-toggle="modal" data-target="#contact">Contato</a>
        </li>
      </ul>
      <ul class="col-12 col-md-3 col-lg-4">
        <li class="col-lg-12">
          <a  ng-click="logout()">Login</a>
        </li>
        <li class="col-lg-12">
          <a href="/register">Cadastro</a>
        </li>
        <li class="col-lg-12">
          <a href="/home">Termos de Uso</a>
        </li>
        <li class="col-lg-12">
          <a href="/home">Privacidade</a>
        </li>
      </ul>
    </div>
    <small>Yumi © 2019. Todos os direitos reservados.</small>
  </div>
</footer>
